header {
  flex-direction: column;
}

.show {
  display: none;
}

.menu {
  display: flex;
  justify-content: flex-end;
  background: #272a31;
  padding-right: 5%;
  margin: 0;
}

.menulinks {
  display: flex;
  justify-content: space-around;
  margin: 6px 8%;
  width: 30%;
  font-family: 'Lato', sans-serif;
}

header > div > ul > li > a {
  color: #fff;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 10%;
  display: block;
}

#logo > img {
  width: 50%;
}

ul.links {
  width: 45%;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

#campaign {
  display: block;
  font-family: 'Lato', sans-serif;
  color: #ec5242;
  box-shadow: 0 0 0 5px #ec5242;
  margin: 12px;
  border-radius: inherit;
  background: none;
  padding: 8px;
  font-weight: 600;
  font-size: 16px;
  margin-left: -11%;
  border: none;
}

main {
  padding: 5% 11%;
}

h3 {
  display: none;
}

.mainTitle {
  width: 75%;
}

h1 {
  text-align: center;
  line-height: 80px;
  font-size: 70px;
}

.hideUnderline {
  width: 5%;
  border-bottom: 2px solid #ec5242;
}

.pshadow {
  padding: 3% 5%;
  font-size: 18px;
  margin: 5% auto;
}

.programtitle {
  margin: 3% auto;
}

.underline {
  width: 5%;
  border-bottom: 2px solid #ec5242;
  margin: 0 auto 3%;
}

.programcards {
  padding: 0;
  width: 30%;
  margin: 4% auto;
}

hr {
  margin-top: auto;
}

.speakconteiner {
  flex-direction: row;
  margin: 3% auto;
  width: 70%;
  flex-wrap: wrap;
}

.indvidcont {
  width: 47%;
  margin: 1%;
}

.sponsors {
  display: none;
}

.partner {
  color: #919191;
}

.partnerLogo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  width: 70%;
  margin-bottom: 2%;
}

#moz {
  font-size: 36px;
}

#googl {
  font-size: 29px;
  font-weight: 200;
}

#nav {
  font-size: 30px;
  font-weight: 800;
}

#daum {
  font-size: 24px;
}

#air {
  font-size: 20px;
}

footer {
  background-color: #272a31;
}

.footerLogo > a:nth-child(1) {
  width: 24%;
}

.invert {
  filter: invert(1);
}

.confer {
  margin: auto;
  font-size: 22px;
}

.author {
  flex: 2;
  text-align: center;
  font-size: 22px;
}
