header {
  flex-direction: column;
}

.show {
  display: none;
}

.menu {
  display: flex;
  justify-content: flex-end;
  background: #272a31;
  padding-right: 5%;
  margin: 0;
}

.menulinks {
  display: flex;
  justify-content: space-around;
  margin: 6px 8%;
  width: 30%;
  font-family: 'Lato', sans-serif;
}

header > div > ul > li > a {
  color: #fff;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 10%;
  display: block;
}

#logo > img {
  width: 50%;
}

ul.links {
  width: 45%;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

#campaign {
  display: block;
  font-family: 'Lato', sans-serif;
  color: #ec5242;
  box-shadow: 0 0 0 5px #ec5242;
  margin: 12px;
  border-radius: inherit;
  background: none;
  padding: 8px;
  font-weight: 600;
  font-size: 16px;
  margin-left: -11%;
  border: none;
}

main {
  padding: 6% 12%;
}

h3 {
  font-size: 50px;
  margin-bottom: auto;
}

.mainTitle {
  width: 75%;
}

h1 {
  font-size: 70px;
  line-height: 80px;
}

.pshadow {
  width: 50%;
  font-weight: 500;
}

h2 {
  font-size: 36px;
  font-weight: 800;
}

#adress {
  font-size: 24px;
}

.programtitle {
  font-size: 28px;
  margin: 4% auto 2% auto;
}

.underline {
  width: 4%;
  margin-bottom: 3%;
}

.programcards {
  flex-direction: row;
  width: 75%;
}

figure {
  flex-direction: column;
  margin: 2px;
  flex: 1;
  padding: 2% 1%;
}

.card {
  text-align: center;
}

.figtext {
  text-align: center;
}

.joinSummit {
  margin: auto;
  background: none;
  text-decoration: underline;
  font-size: 24px;
  padding: 5% 0;
}

.speakConteiner {
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

.indvidcont {
  width: 48%;
  display: flex;
  margin: 1%;
}

.participant {
  flex: 3;
}

.partner {
  color: #919191;
}

.partnerLogo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto;
}

.partnerLogo > li {
  width: 15%;
  list-style: none;
  margin: 0 25% 19% 25%;
}

.author {
  flex: 2;
}
